@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
:root{
   --p-color: #707070;
   --p-color2: #fff;
   --p-color3: #303030;
   --a-color: #0086D5;
   --button-background: #0086D5;
   --features-background: #fafafa;
   --back-background: #FE3D3B;
   --back3-background: #15D088;
   --back4-background: #FFB601;
   --background-color: #fff;
}
header{
    display: flex;
    width: 100%;
    height: auto;
}
.burger{
    display: none;
}
.logo{
    margin: 19px 140px 19px;
}
nav{
    display: flex;
    flex-direction: row;
}
.first{
    display: flex;
    margin: 21px 43px 130px 17px;
    list-style: none;
    gap: 30px;
}
.first li a{
    text-decoration: none;
    color: var(--p-color);
}
.second{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-top: 21px;
    margin-left: 100px; 
}
.second li a{
    text-decoration: none;
    color: var(--p-color);
}
.second li button{
    background-color: var(--button-background);
    border-radius: 5px;
    height: 40px;
    width: 120px;
    border: none;
    color: #fff;
    margin-top: -10px;
    cursor: pointer;
}
main{
    display: flex;
    flex-direction: row;
}
.content{
    margin-left: 137px;
    margin-top: 111px;
    margin-right: 63px;  
}
.text-h{
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 700px;
    display: flex;
}
.content p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
#email{
    border-radius: 3px;
    height: 5vh;
    width: 14vw;
    border: 1px solid #A5A5A5;
}
.btn , .text-features button, .All-task button , .management-text button{
    height: 5vh;
    width: 8vw;
    background: var(--button-background);
    color:#fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.text-clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.text{
    text-align: center;
}
.text h2{
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
}
.text p{
    color: var(--p-color3);
    font-size: 16px;
}
.features, .management{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10%;
    background-color: var(--features-background);
}
.text-features, .management-text{
    margin-left: 137px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.text-features a,.All-task a , .management-text a,
.testimonials a,.text-faqs a{
    text-decoration: none;
    color: var(--a-color);
    font-weight: 400;
}
.OurTop, .management-text h2,
.testimonials h2{
    font-size: 36px;
    color: var(--p-color3);
    font-weight: 700;
}
.text-features p, .management-text p{
    color: var(--p-color);
    font-weight: 400;
    font-size: 16px;
}

.boxs{
    margin-left: 15%;
    margin-top: 40px;
    display: grid;
    grid-template-areas: 
    "box1   box2"
    "box3   box4"
    ;
    
    gap: 20px;
}
.box1{
    border: 1px solid #707070;
    border-radius: 10px;
    width: 18vw;
    height: 25vh;
    background: #FAFAFA;
    padding: 15px;
    grid-area: box1;
    
}
.back{
    background-color: var(--back-background);
    width: 3vw;
    height: 8vh;
    border-radius: 4px;
    border: none;
}
.back img{
    padding: 5px;
}
.box1 h4, .box2 h4,
.box3 h4, .box4 h4,
.card1 h4,.card2 h4,
.faqs-box1 h4{
    font-weight: 700;
    font-size: 20px;
    color: #303030;
    margin-bottom: 10px;
    margin-top: 10px;
}
.box1 p, .box2 p,
.box3 p, .box4 p,
.card1 p,.card2 p,
.faqs-box1 p,.information p{
    font-size: 11px;
    color: var(--p-color);
    font-weight: 400;
}
.box2{
    border: 1px solid #707070;
    border-radius: 10px;
    width: 18vw;
    height: 25vh;
    background: var(--features-background);
    padding: 15px;
    grid-area: box2;
    margin-top: 30px;
}
.back2{
    background-color: var(--button-background);
    width: 3vw;
    height: 8vh;
    border-radius: 8px;
    border: none;
}
.back2 img{
    padding: 11px 1.5px;
}
.box3{
    border: 1px solid #707070;
    border-radius: 10px;
    width: 18vw;
    height: 25vh;
    background: #FAFAFA;
    padding: 15px;
    grid-area: box3;
    margin-top: -7%;
}
.back3{
    background-color: var(--back3-background);
    width: 3vw;
    height: 8vh;
    border-radius: 8px;
    border: none;
}
.back3 img{
    padding: 11px 4px;
}

.box4{
    border: 1px solid #707070;
    border-radius: 10px;
    width: 18vw;
    height: 25vh;
    background: #FAFAFA;
    padding: 15px;
    grid-area: box4;
}
.back4{
    background-color: var(--back4-background);
    width: 3vw;
    height: 8vh;
    border-radius: 8px;
    border: none;
}
.back4 img{
    padding: 11px 4px;
}
.task{
    display: flex;
    flex-direction: row;
    margin-left: 137px;
    padding-top: 13%;
    
}
.All-task{
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.All-task h2{
    font-weight: 700;
    font-size: 36px;
    color: var(--p-color3);
    margin-bottom: 20px;
}
.All-task p{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}
.foto3 img{
    margin-left: 15%;
}
.testimonials{
    text-align: center;
    margin-top: 7%;
}
.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    transform: translate(-35%, -50%);
    text-align: center;
}
.card1,.card2{
    border: 1px solid #707070;
    height: 30vh;
    width: 35vw;
    border-radius: 10px;
    margin-top: 45%;
    position: relative;
    left: 50%;
}
.card1 img,.card2 img{
    margin-top: -10%;
}
.dots{
    margin-top: -20%;
    margin-left: 50%;
}

.text-faqs{
    text-align: center;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}
.faqs-boxs{
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: fit-content;
}
.faqs-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faqs-box1{
   border: 1px solid #707070;
   width: 33vw;
   height: 18vh;
   border-radius: 10px;
   padding-left: 20px;
}
.faqs-box1 img{
    position: relative;
    left: 95%;
    bottom: 67%;
    cursor: pointer;
}
.faqs-box2,.faqs-box3,.faqs-box4{
    border: 1px solid #707070;
    width: 33vw;
    height: 7vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.faqs-box2 img,.faqs-box3 img,.faqs-box4 img{
    margin-left: 20%;
}
.faqs-foto{
    position: relative;
    left: 5%;
    margin-top: -10%;
    width: 300px;
    height: 250px;
}
.subscribe{
    background-color: var(--button-background);
    width: 60vw;
    height: 45vh;
    border-radius: 30px;
    position: static;
    margin: 5% auto;
}
.subscribe img{
    padding-top: 30px;
    padding-left: 50px;
    display: inline;
    margin-top: 30px;
}
.subs-text{
    text-align: center;
    position: relative;
    top: -70%;
    color: #fff;
}
.subs-text a{
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    font-weight: 200;
}
.subs-text p{
    font-weight: 300;
    font-size: 14px;
}   
.input{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -17%;
}
#subs-email{
    width: 17vw;
    height: 4vh; 
    background-color: var(--button-background);
    border: 1px solid #fff;
}   
#subs-email::placeholder{
    color: #fff;
    padding-left: 20px;
}
.input button{
    border: none;
    border-radius: 4px;
    height: 4vh;
    width: 8vw;
    cursor: pointer;
}
footer{
    display: flex;
    column-gap: 30px;
}
.information{
    margin-left: 137px;
    margin-top: 10%;
}
.social{
    display: flex;
    gap: 7px;
    padding-top: 20px;
}
.foot{
    display: flex;
    column-gap: 120px;
    margin-top: 10%;
}
.social{
    cursor: pointer;
}
.foot ul{
    font-weight: 700;
}
.foot li{
    list-style: none;
    font-size: 14px;
    font-weight: 400;
}
.foot a{
    text-decoration: none;
    color: var(--p-color);
}
 h6{
    text-align: center;
    color: var(--p-color);
    margin-top: 40px;
    margin-bottom: 40px;
}
@media screen and (max-width: 576px){
    .burger{
        display: block;
        cursor: pointer;
        padding: 30px;
        margin-left: 20%;
    }
    .first{
        display: none;
    }
    .dot1,.dot2,.dot3{
        border-radius: 10%;
        border: 5px solid #000;
        background-color: var(--p-color3);
        width: 10vw;
        margin-bottom: 20px;
    }
    .logo{
        margin-left: 30%;
        margin-top: 40px;
    }
    .second{
        margin-top: 35px;
        margin-right: 40px;
    }
    main{
        display: flex;
        flex-direction: column;
    }
   .content{
    position: relative;
    left: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
   }
   .foto{
    width: 100%;
    position: relative;
    left: 50%;
    margin-top: 40px;
   }
   #email{
    width: 20vw;
    height: 6vh;
    margin-left: 20%;
   }
   .btn{
    width: 15vw;
    height: 6vh;
    position: relative;
    top: -10px;
   }
   .text-clients{
    position: relative;
    left: 60%;
    width: 100%;
   }
   .features{
    display: flex;
    flex-direction: column;
   }
   .features{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 50%;
    background-color: var(--background-color);
   }
   .text-features button,.All-task button
   ,.management button,.input button{
    width: 15vw;
    height: 6vh;
   }
   .boxs{
    margin-left: 25%;
   }
   .box1,
   .box4{
    width: 30vw;
    height: 20vh;
   }
   .box1 h4,.box4 h4{
    font-size: 10px;
   }
   .box2,.box3{
    width: 30vw;
    height: 20vh;
   }
   .box2 h4,.box3 h4{
    font-size: 10px;
   }
   .box1 p,.box4 p{
    font-size: 6px;
   }
   .box2 p,.box3 p{
    font-size: 6px;
   }
   .back{
    background-color: var(--back-background);
    width: 8vw;
    height: 7vh;
   }
   .back img,.back4 img{
    width: 9vw;
    height: 7vh;
   }
   .back4{
    background-color: var(--back4-background);
    width: 8vw;
    height: 7vh;
   }
   .back2{
    background-color: var(--button-background);
    width: 8vw;
    height: 7vh;
   }
   .back2 img,.back3 img{
    width: 10vw;
    height: 8vh;
    padding-right: 15px;
   }
   .back3{
    background-color: var(--back3-background);
    width: 8vw;
    height: 7vh;
   }
   .task{
    display: flex;
    flex-direction: column;
    margin-left: 53%;
   }
   .foto2 img{
    width: 70vw;
    height: 50vh;
    margin-left: 50%;
   }
   .All-task{
    margin-left: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
   }
   .All-task h2, .management h2,
   .testimonials h2{
    font-size: 27px;
   }
   .All-task a, .management a,
   .testimonials a{
    font-size: 18px;
   }
   .All-task p, .management p,
   .testimonials p{
    font-size: 23px;
   }
   .management{
    display: flex;
    flex-direction: column;
    margin-left: 65%;
    background-color: var(--background-color);
    width: 100%;
   }
   .foto3 img{
    width: 70vw;
    height: 50vh;
    margin-right: 30%;
    margin-top: 50px;
   }
   .testimonials{
    margin-left: 65%;
    width: 100%;
   }
   .card{
    position: relative;
    left: 50%;
    margin-top: 150px;
   }
   .card1, .card2{
    width: 80vw;
    height: 40vh;
    overflow: hidden;
   }
   .card1 h4,.card2 h4{
    font-size: 17px;
    margin-top: 30px;
   }
   .card1 img, .card2 img{
    width: 15vw;
    height: 10vh;
    margin-top: -30px;
    position: fixed;
    margin-left: -40px;
   }
   .dots{
    position: relative;
    left: 55%;
    cursor: pointer;
   }
   .faqs{
    position: relative;
    left: 62%;
   }
   .faqs-boxs{
    display: flex;
    flex-direction: column;
   }
   .faqs-box{
    position: relative;
    
   }
   .faqs-box1{
    width: 55vw;
    height: 40vh;
    width: 100%;
    overflow: hidden;
   }
   .faqs-box1 h4{
    font-size: 27px;
   }
   .faqs-box1 p{
    font-size: 22px;
   }
   .faqs-box2,
   .faqs-box3,.faqs-box4{
    width: 55vw;
    height: 15vh;
    font-size: 27px;
    width: 100%;
   }
   .faqs-foto{
    margin-top: 10%;
   }
   .subscribe{
    width: 150vw;
    height: 70vh;
    margin-left: -10%;
    margin-top: 45%;
    position: static;
   }
   .subs-text{
    margin-top: 60px;
   }
   .subs-text h2{
    font-size: 27px;
   }
   .subs-text p{
    font-size: 20px;
   }
   .subs-text a{
    font-size: 17px;
   }
   #subs-email{
    width: 40vw;
    height: 5vh;
   }
   footer{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 70%;
   }
   .information p{
    font-size: 18px;
   }
   .foot{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    margin: 50px auto;
   }
   .social{
    cursor: pointer;
   }
   .foot ul{
    font-size: 28px;
   }
   .foot li{
    font-size: 20px;
   }
   h6{
    margin-left: 80%;
    width: 100%;
    font-size: 22px;
   }
}